@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#18e682, #76bfec);
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid violet; */
}
section{
    border: 2px solid rgb(93, 244, 105);
    border-radius: 10px;
}

section.chat__section {
    width: 800px;
    max-width: 90%;
    background: rgb(244, 217, 233);
    
    box-shadow: 2 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.logo {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.logo p {
    /* text-transform: uppercase; */
    font-size: 20px;
    color: #444;
    margin-left: 10px;
    border-radius: 10px;
}
.message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    /* border: 1px solid black; */
    font-size: 16px;
    outline: none;
    background: #e7c2c2;
    border-radius: 10px;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: #8F8BE8;
    color: rgb(10, 3, 3);  
}
.outgoing {
    background: #e9eafd;
    color: #8F8BE8;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}